.point{
  padding: 50px;
  padding-left: 120px;
}

.point_nav_btn{
  display: flex;
  margin-left: 100px;
}

.point_box{
  width: 700px;
  height: 600px;
  background-color: white;
  padding: 30px;
}
.nav_btn{
  margin-right: 50px;
  margin-bottom: 30px;
  width: 130px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px;
}

.nav_btn:hover{
  transform: scale(1.1); 
}

.content{
  margin-left: 30px;
}