.container {
  display: grid;
  margin: 1vh 10vw;
  height: 85vh;
  grid-template-columns: 3fr 1fr;
}

.camBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.camCell {
  display: flex;
  justify-content: center;
  align-items: center;
}
