.container {
  width: 60%;
  height: 250px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24);
  margin: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.titleHighlight {
  /* background-color: gray; */
  font-size: 32px;
  color: white;
  /* border: 1px solid #ddd; */
  background-color: #3396f4;
  border-radius: 8px;
  padding: 10px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24); */
  margin: 10px;
}

.buttons {
  display: flex;
}

.buttons button {
  background-color: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  min-height: 80px;
  width: 35%;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  margin-top: 10%;
  font-size: 20px;
}

.buttons button:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}
