.container {
  display: grid;
  height: 300px;
  width: auto;
  grid-template-columns: 3fr 6fr 4fr;
}

.content {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 200px;
  background-color: rgb(75, 75, 215);
  color: white;
  text-align: center;
}
