.point{
  margin-left: 150px;
  margin-top: 10px;
}

.point_nav_btn{
  display: flex;
  margin-left: 10px;
  margin-bottom: 30px;
}

.nav_btn{
  margin-right: 50px;
  margin-bottom: 30px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px;
}

.point_History_box{
  width: 550px;
  height: 700px;
  /* border: 1px solid black; */
}
.box{
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap; /* 컨테이너 크기를 넘어가면 자동으로 다음 줄로 넘어감 */
  gap: 10px; /* 요소들 사이의 간격을 조정 */
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 사이에 간격을 주기 위해 gap 설정 */
  position: absolute;
  top: 730px;
  left: 650px;
  padding: 10px;
}
.cancel_btn{
  height: 17px;
  font-size: 10px;
  margin-left: 310px;
}


.Study_hr{
  width: 600px;
}

.JoinStudy_text{
  margin: 0px;
}

.MyPost_text_time{
  margin: 0px;
  margin-left: 530px;
}

.JoinStudy_text_day{
  margin: 0px;
  margin-left: 450px;
}

.ApplyStudy_text{
  margin: 0px;
  margin-bottom: 18px;
  margin-left: 5px;
}

.MyPost_text{
  margin: 0px;
  margin-left: 5px;
}