.container {
  height: 400px;
  margin-top: 30px;
}

.titleBox {
  margin-top: 300;
  display: flex;
  grid-template-columns: 10fr 1fr;
}

.revDir {
  display: flex;
  flex-direction: row-reverse;
}

.contentBox {
  height: 75%;
}

.btn {
  margin-top: 200px;
  margin-right: 20px;
  width: 80px;
  /* height: 30px; */
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.btn:hover {
  background-color: #0056b3;
  color: #f8f9fa;
}

.day{
  margin-left: 340px;
  font-size: 14px;
}