a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

.Notice_header{
  display: flex;
}

.post_create_btn{
  margin-left: 420px;
  margin-top: 10px;
  background-color: gray;
  height: 30px;
  border-radius: 5px;
}

.Pagination{
  margin-left: 230px;
}