.box1 {
    width: auto;
    height: 300px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.box1content {
    margin: auto;
}


.box2{
    margin-top: 10px;
    width: auto;
    height: 700px;
    background-color: #fff;
}