.calendar{
  width: 700px;
  height: 600px; 
  margin-left: 100px;
  margin-top: 30px;
  font-size: 13px;
}

.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal_content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.modal_content input,
.modal_content textarea {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.modal_content textarea {
  width: 385px;
  resize: vertical; /* 세로 크기 조절 허용 */
}
.modal_content button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
}
.modal_content button:last-child {
  background-color: #dc3545; /* 닫기 버튼은 빨간색 배경으로 */
}
/* FullCalendar 이벤트 속성
 ① title : 해당 이벤트의 제목을 나타낸다.
 ② color : 이벤트의 색상을 변경한다.
 ③ textColor : 이벤트 내용의 텍스트의 색상을 변경한다.
 ④ backgroundColor : 이벤트 배경색의 색상만을 변경한다.
 ⑤ borderColor : 이벤트 테두리의 색상만을 변경한다.
 ⑥ rendering : "bakground"라고 입력하면 color, backgroundColor의 색상으로 해당일 전체의 내용이 채워진다. */