.container {
  margin: 10px;
}

/* .titleBox {
  border: solid 1px black;
  border-radius: 5px;
} */

.titleContent {
  margin: 10px;
  font-size: 32px;
}

.subBox {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
}

.buttonBox {
  display: flex;
}

.contentBox {
  height: 300px;
  background-color: white;
  /* border: solid 1px black; */
}

.btn {
  width: 120px;
  height: 40px;
  margin: 10px;
  border: 10px;
}

.gray {
  background-color: gray;
}

.blue {
  background-color: #3396f4;
}

.commentContainer {
  width: 100%;
}

.commentInputField input[type="text"] {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}
