.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 5%;
  margin: 5% auto 5% auto;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24);
  /* border: 1px solid black; */
}
.container h2 {
  width: 620px;
}

.inputFieldTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.inputField input[type="text"] {
  width: 600px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.inputField .textarea {
  height: 350px;
}

.inputField input[type="file"] {
  padding: 12px;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}
.buttons {
  padding-left: 70%;
}
.blue {
  background-color: #3396f4;
}
.buttons button {
  background-color: rgba(0, 0, 0, 0.09);
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.buttons button:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24);
}
