.container{
  margin-left: 170px;
  margin-top: 40px;
  height: 1000px;
}

.contents{
  margin-top: 50px;
}

.InfoModify_text{
display: flex;
}

.InfoModify_email{
  margin: 0px;
  margin-left: 90px;
}

.InfoModify_name{
  margin: 0px;
  margin-left: 105px;
}

.InfoModify_profile{
  display: flex;
}

.InfoModify_nickname{
  margin-left: 90px;
  height: 25px;
  width: 170px;
  font-size: 13px;
}

.InfoModify_nickname_check_btn{
  margin-left: 73px;
  height: 30px;
  border-radius: 10px;
  background-color: #A5DAF8;
  border: 1px;
}

.InfoModify_line{
  border: 1px solid black;
  width: 500px;
  margin-bottom: 40px;
}

.InfoModify_change{
  margin-left: 390px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  border-radius: 10px;
  background-color: #A5DAF8;
  border: 1px;
  width: 65px
}

.InfoModify_password{
  margin: 0px;
  height: 20px;
  width: 170px;
  margin-left: 73px;
  font-size: 25px;
}

.InfoModify_password2{
  margin: 0px;
  height: 20px;
  width: 170px;
  font-size: 25px;
  margin-left: 42px;
}

.file_img{
  position: relative;
  width: 250px;
  height: 150px;
  margin-left: 50px;
}

.InfoModify_profile_p{
  width: 100px;
}

/* ======================================================== */
.customFileInput {
  margin-left: 40px;
  width: 140px;
  height: 15px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.centeredText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customFileInput:hover {
  background-color: #2980b9;
}

/* 파일 입력 필드 숨김 */
.customFileInput[type="file"] {
  display: none;
}

/* 회원탈퇴 버튼 */
.Withdrawal_btn {
  width: 140px;
  height: 30px;
  margin: 20px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #f68976; /* Coral color */
  color: white; /* Text color */
  border: none; /* No border */
  cursor: pointer;
}

.Withdrawal_btn:hover {
  background-color: #f17053; /* Darker coral color on hover */
}
/*  */

/* InfoModify.module.css */

.container {
  /* ... existing container styles ... */
}

/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  width: 300px;
  height: 170px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal h3 {
  margin-bottom: 20px;
}

.modal p {
  margin-bottom: 30px;
}

.modal button {
  margin: 0 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}


