
#login {
  position: absolute;
  top: 400px;
  left: 49%;
  width: 400px;
  height: 390px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  background-color: #F1FAFA;
  border-radius: 20px;
}

.loginInput{
  width: 280px;
  height: 30px;
  margin-bottom: 5px;
}

#loginBtn{
  width: 284px;
  height: 33px;
  margin-bottom: 8px;
  background-color: #a0d3f1;
  border: 1px solid #a0d3f1;
  border-radius: 10px;
  font-weight: bolder;
  font-size: large;
}

.line1 {
  border: 1px solid black;
  width: 100px;
  position: absolute;
  top: 250px; 
  left: 10%;
}
.line2 {
  border: 1px solid black;
  width: 100px;
  position: absolute;
  top: 250px; 
  right: 10%;
}
#loginGoogleLogo{
  width: 35px;
  position: absolute;
  left: 22%;
  top: 73%;
}
#loginKakaoLogo{
  width: 35px;
  position: absolute;
  left: 44.7%;
  top: 73%;
}
#loginNaverLogo{
  width: 44px;
  position: absolute;
  left: 66%;
  top: 72%;
}