.SignUp_box{
  /* display: flex; */
}
.signup{
  width: 600px;
  height: 640px;
  /* text-align: center; */
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  /* margin-right: 100px; */
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.img01{
  width: 100%;
  /* height: 1200px; */
}

.signup_title{
  margin-left: 230px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.caution{
  color: red;
  margin-right: 90px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 100px;
}

.input_email{
  margin-left: 50px;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  font-size: 12px;
}

.input_email_check{
  margin-left: 37px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  font-size: 12px;
}

.btn_check{
  margin-left: 20px;
  height: 25px;
  width: 80px;
  border-radius: 5px;
  border: 1px;
  background-color: #3396f4;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.input_name{
  margin-left: 63px;
  margin-right: 120px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  font-size: 17px;
}

.input_password{
  margin-left: 38px;
  margin-right: 120px;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  font-size: 17px;
}

.input_password_check{
  margin-left: 13px;
  margin-right: 120px;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  font-size: 17px;
}

.input_nickname{
  margin-left: 50px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  font-size: 17px;
}

.signup_btn{
  margin-top: 40px;
  margin-left: 120px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: 1px;
  background-color: #3396f4;
  color: white;
  font-size: 20px;
  /* font-weight: bold; */
}

.cancel_btn{
  margin-left: 80px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px;
  background-color: #ec2c54;
  color: white;
  font-size: 20px;
  /* font-weight: bold; */
}

.signup_btn:hover{
  transform: scale(1.05);
}
.cancel_btn:hover{
  transform: scale(1.05);
}

.signup_text{
  margin-top: 10px;
  margin-left: 75px;
  margin-right: auto;
  font-size: 13px;
  font-weight: bold;
  /* left: 10px; */
}