.box1 {
  background-color: #f9f6f2;
  padding: 30px;
  width: 200px;
  height: 600px;
  border-radius: 10px;
}

.box4{
  border: rgb(216, 213, 213) solid 2px;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 235, 235);
  margin-top: auto;
  margin-bottom: 50px;
  border-radius: 100px;
}

.bt {
  margin-top: 20px;
  margin-left: 23px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 150px;
  height: 35px;
  border-radius: 20px;
  background-color: #c2e7fb;
  border: 1px; 
  font-weight: bold;
  font-size: 15px;
}

.name_point{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 25px;
}

.bt:hover{
  transform: scale(1.03);
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 불투명도 조절 가능 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}