#box1 {
  background-color: #f2f2f2;
  padding: 30px;
  width: 200px;
  height: 540px;
  border-radius: 10px;
}
#box4{
  border: white solid 2px;
  width: 200px;
  height: 200px;
  background-color: white;
}
#bt{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.Link {
  text-decoration: none;
  color: #333;
}