.container {
  display: grid;
  height: 100px;
  width: auto;
  grid-template-columns: 4fr 8fr 4fr;
}

.mainView {
}

.content {
  margin: auto;
  align-items: center;
  justify-content: center;
}
.smallBox {
  height: 5px;
  width: 5px;
  background-color: gray;
}
