.container {
  display: grid;
  height: 100px;
  width: auto;
  grid-template-columns: 4fr 8fr 4fr;
}

.mainView {
}

.content {
  margin: auto;
  align-items: center;
  justify-content: center;
}
.smallBox {
  height: 5px;
  width: 5px;
  background-color: gray;
}

.btnBox {
  display: grid;
  height: 50px;
  width: auto;
  grid-template-columns: 4fr 4fr 4fr;
}
.btn {
  width: 200px;
  height: 50px;
  background-color: rgb(75, 75, 215);
  color: white;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}
