/* CSS 스타일시트에 추가 */
nav {
  margin-left: 200px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
.nav-link {
  /* 일반적인 링크 스타일 */
  color: black;
  text-decoration: none;
  /* 기타 스타일링 속성들 */
  margin-right: 50px;
}

.nav-link.click {
  /* 링크가 활성화되었을 때의 스타일 */
  font-weight: bold;
  color: blue;
  /* 추가적인 스타일링 속성들 */
}
