nav {
  margin-bottom: 10px;
  display: flex;
  margin-top: 10px;
}
.nav-link {
  color: black;
  text-decoration: none;
  padding-left: 30px;
  font-size: 12px;
  margin-top: 10px;
}

.nav-link.click {
  font-weight: bold;
  font-size: 15px;
  color: blue;
}

.navBox {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  width: 1520px;
  z-index: 3;
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
}

.nav_hr {
  width: 100%;
  margin-bottom: 0px;
}

.logo{
  margin-left: 220px;
  top: 20px;
  right: 360px;
  font-size: 35px;
}

.navBoxIn{
  margin-top: 15px;
  margin-left: 300px;
}

.logo_img{
  width: 20px;
  transform: rotate(10deg);
}